* Error and Success */
.form-control.success input,
.form-control.success textarea {
  border-color: #2ecc71;
}

.form-control.error input,
.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}

.btn-submit {
  height: 3.5rem;
  width: 100%;
  padding: 0px 1.5rem;
  border-radius: 16px;
  background: #087F5B;
  margin-top: 1.5rem;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;

  transition: ease .2s;
}
.btn-button {
	height: 3.5rem;
	width: 100%;
	padding: 0px 1.5rem;
	border-radius: 16px;
	background: #b7490a;
	margin-top: 1.5rem;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
  
	transition: ease .2s;
  }

.btn-submit:hover {
  background: #0a936a;
}