.image-white-and-black {
	width: 5vw;
	height: 5vh;
}

.title {
	text-align: center;
	color: green;
	font-size: 7rem;
}

.input-container {
	position:absolute;
	height: 50px;
	border-radius: 40px;
	width: 50%;
	/* top: 20%; */
	right: 25%;

	display:flex;
	/* justify-content: space-between; */
	align-items: center;
	/* flex-direction: row;	 */

}

.search-bar{
	position:absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: left;
	padding-left: 5px;
	/* text-decoration-color: green; */
	outline: 0;
	border-radius: 40px;	/* display:flex; */
	width: 900px;
	height: 40px;
	background-color: white;
	color: rgb(1, 21, 2);
}

.magnifier {
	width: 2vw;
	height: 3vh;
	display: flex;

	position:relative;
	right: -860px;
	/* transform: translate(-50%);
	right: 50%; */
  }

#background-cards {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	background-position: bottom;
	width: 50vw;
	height: 50vh;
	justify-content: center;
}


.cards {
	margin-inline: 9%;
}

.separador {
	grid-column: span 2;
	background-color: black;
	height:3px;
	/* margin: 5px; */
	margin: 2rem;
}
#content-cards {
	margin-top: 10%;
    background-image: url() ;
    background-position: bottom;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* gap:10px; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
.page-content {
	text-align: center;
	/* position: relative; */
}
.buttons {
	position:relative;
	/* left: 50%;
	transform: translate(-50%); */
	text-align: center;
	display: grid;
	font-size: 25px;
}

#btn-next, #btn-previous {
	align-items: center;
	height: 45px;
	width: 90px;
	color: white;
	background-color: rgba(29, 113, 33, 0.952);
	position: relative;
	left: 50%;
	transform: translate(-50%);
	font-size: 1rem;
	margin-bottom: 3px;
}

.footer {
	position: relative;
	display: inline-block;
	/* margin: 50px; */
	padding: 100px;
}

footer {
	text-align: center;
	background-color: rgba(16, 61, 18, 0.952);
	height: 200px;
	color: white;
	font-size: larger;
}

.end-page {
	padding-bottom: 13px;
	text-align: center;
	background-color: rgba(16, 61, 18, 0.952);
	font-size: large;
	color:white

}

  .left {
    display: inline-block;
	margin: 0%;
  }

  .right {
    display: inline-block;
	margin: 0%;
  }

